[submodule "SimDriver"]
	path = lib/osiWrapper/lib/SimDriver
	url = https://github.com/ika-rwth-aachen/SimDriver.git
[submodule "json"]
	path = lib/osiWrapper/lib/json
	url = https://github.com/nlohmann/json.git
